<div>
    <sly-field title="Download videos"
               description="Download project with videos or only annotations">
        <div class="fflex" style="flex-direction: column; align-items: flex-start">
            <el-radio class="radio"
                      v-model="state.items"
                      label="True">Download videos and annotations
            </el-radio>
            <el-radio class="radio"
                      v-model="state.items"
                      label="False"
                      style="margin-left: 0;">Download only annotations
            </el-radio>
        </div>
        <div>
          <sly-field title="Maximum number of concurrent video downloads"
                     description="Higher values may lead to higher memory usage.">
            <el-input-number size="small" v-model="state.max_parallel_video_downloads" :min="1" :max="10"></el-input-number>
          </sly-field>
        </div>
    </sly-field>
</div>